# Default owners for everything
* @oakwood-commons/scafctl-maintainers

# Specific areas
/plugin/     @oakwood-commons/scafctl-maintainers
/provider/   @oakwood-commons/scafctl-maintainers
/auth/       @oakwood-commons/scafctl-maintainers
